.app {
height:100vh ;
background: #eee;
padding: 1em;
}

/*messages.js */
.messages{
  height: 440px;
  overflow-y: scroll;
}

/* Message.js */
.message__self{
  border-left: 2px solid orange;
  padding-left: 8px;
  
}